---
# app_name, rpm_name and rpm_folder are standard variables, must be redefined for each role
# it allows re-usage of tasks

app_name: "Talend Data Preparation"
rpm_name: "talend-tdp"
rpm_folder: "tdp"
app_service: "talend-tdp"

#####
# Installation as systemd service
#####
app_install_systemd: "yes" # allowed values "yes" and "no"

#########################################
#
# Parameters below can be used for configuration updates (re-configuration) "on the fly"
#
#########################################

tdp_public_ip: "localhost"
tdp_server_port: "9999"

tdp_iam_ip: "localhost"  # IAM host to be used (will be used only for non-hybrid configuration, otherwise ignored)
tdp_iam_port: "9080"     # IAM port to be used (will be used only for non-hybrid configuration, otherwise ignored)

tdp_async_runtime_contextPath: "/api"
tdp_server_compression_enabled: "true"
tdp_server_compression_mime_types: "text/plain,text/html,text/css,application/json,application/x-javascript,text/xml,application/xml,application/xml+rss,text/javascript,application/javascript,text/x-js"
tdp_spring_mvc_async_request_timeout: "300000"
tdp_lock_store: "mongodb"
tdp_dataprep_event_listener: "spring"
tdp_live_dataset_location: "tac"
tdp_live_dataset_url: "http://localhost:8080/org.talend.administrator/"
tdp_live_dataset_task_prefix: "dataprep_"
tdp_mongodb_host: "localhost"
tdp_mongodb_port: "27017"
tdp_mongodb_database: "dataprep"
tdp_mongodb_user: "dataprep-user"
tdp_mongodb_password: "gpsMQ8+aIfGTtKEKuAWw8Q"
tdp_multi_tenancy_mongodb_active: "false"
tdp_security_provider: "oauth2"
tdp_security_token_secret: "yZzHjE4PyAatbSY1/zj1vQ"
tdp_security_token_renew_after: "30"
tdp_security_token_invalid_after: "3600"
tdp_spring_profiles_active: "server-standalone"
tdp_spring_http_multipart_maxFileSize: "200000000"
tdp_spring_http_multipart_maxRequestSize: "200000000"
tdp_dataset_records_limit: "10000"
tdp_dataset_local_file_size_limit: "2000000000"
tdp_dataset_imports: "local,job,tcomp-JDBCDatastore,tcomp-SimpleFileIoDatastore,tcomp-SalesforceDatastore,tcomp-S3Datastore"
tdp_dataset_list_limit: "10"
tdp_content_service_store: "local"
tdp_content_service_store_local_path: "data/"
tdp_preparation_store_remove_hours: "24"
tdp_lock_preparation_store: "mongodb"
tdp_lock_preparation_delay: "600"
tdp_luceneIndexStrategy: "singleton"
tdp_execution_store: "mongodb"
tdp_async_operation_concurrent_run: "5"
tdp_tcomp_server_url: "http://localhost:8989/tcomp"
tdp_tcomp_SimpleFileIoDatastore_kerberosPrincipal_default: "${streams.kerberos.principal}"
tdp_tcomp_SimpleFileIoDatastore_kerberosKeytab_default: "${streams.kerberos.keytab_path}"
tdp_tcomp_SimpleFileIoDataset_path_default: "${streams.hdfs.server.url}"
tdp_tcomp_SimpleFileIoDatastore_test_connection_visible: "false"
tdp_dataquality_server_url: "http://localhost:8187/"
tdp_dataquality_indexes_file_location: "data/data-quality/org.talend.dataquality.semantic"
tdp_dataquality_semantic_list_enable: "true"
tdp_dataquality_semantic_update_enable: "true"
tdp_tsd_consumer_enabled: "false"
tdp_dataquality_event_store: "mongodb"
tdp_spring_cloud_stream_kafka_binder_brokers: "localhost"
tdp_streams_enable: "true"
tdp_streams_flow_runner_url: "http://localhost:9060"
tdp_streams_kerberos_principal: "<principal>"
tdp_streams_kerberos_keytab_path: "<keytab path>"
tdp_streams_hdfs_server_url: "hdfs://<host>:<port>/<filepath>"
tdp_security_basic_enabled: "false"
tdp_security_oidc_client_expectedIssuer: "${iam.uri}/oidc"
tdp_iam_license_url: "${iam.uri}/oidc/api"
tdp_security_oidc_client_keyUri: "${iam.uri}/oidc/jwk/keys"
tdp_security_oauth2_client_clientId: "64xIVPxviKWSog"
tdp_security_oauth2_client_clientSecret: "9C0zCjp8yS-eZBqEi-KhBQ"
tdp_security_oidc_client_claimIssueAtTolerance: "120"
tdp_security_oauth2_resource_tokenInfoUri: "${iam.uri}/oidc/oauth2/introspect"

# Set tdp_security_oauth2_resource_uri ONLY if you are know what you are doing ! Otherwise it will use the default setting from RPM/zip
tdp_security_oauth2_resource_uri: ""

tdp_security_oauth2_resource_filter_order: "3"
tdp_security_scim_enabled: "true"
tdp_security_oauth2_client_access_token_uri: "${iam.uri}/oidc/oauth2/token"
tdp_security_oauth2_client_scope: "openid refreshToken"
tdp_security_oauth2_client_user_authorization_uri: "${iam.uri}/oidc/idp/authorize"
tdp_security_oauth2_sso_login_use_forward: "false"
tdp_server_session_cookie_name: "TDPSESSION"
tdp_spring_session_store_type: "{{ 'none' if rpm_base_version >= 7.3 else 'hash_map' }}"
tdp_security_sessions: "stateless"
tdp_security_user_password: "none"
tdp_security_oidc_client_endSessionEndpoint: "${iam.uri}/oidc/idp/logout"
tdp_security_oidc_client_logoutSuccessUrl: "http://${public.ip}:${server.port}"
tdp_security_oauth2_logout_uri: "/signOut"
tdp_security_oauth2_sso_login_path: "/signIn"
tdp_iam_scim_url: "http://${iam.ip}:{{ tdp_iam_port }}/scim/"  # (only for non-hybrid mode) 
tdp_security_oauth2_resource_tokenInfoUriCache_enabled: "true"
tdp_tenant_account_cache_enabled: "true"
tdp_gateway_api_service_url: "http://${public.ip}:${server.port}"
tdp_gateway_api_service_path: "/gateway"
tdp_zuul_servletPath: "/gateway/upload"
tdp_zuul_routes_dq_path: "/gateway/dq/semanticservice/**"
tdp_zuul_routes_dq_sensitiveHeaders: "${zuul.sensitiveHeaders}"
tdp_zuul_routes_dq_url: "${dataquality.server.url}/"
tdp_proxy_auth_routes_dq: "oauth2"
tdp_zuul_routes_api_path: "/gateway/api/**"
tdp_zuul_routes_api_sensitiveHeaders: "${zuul.sensitiveHeaders}"
tdp_zuul_routes_api_url: "http://${public.ip}:${server.port}/api"
tdp_proxy_auth_routes_api: "oauth2"
tdp_zuul_sensitiveHeaders: "Cookie,Set-Cookie"
tdp_zuul_host_socket_timeout_millis: "300000"
tdp_zuul_host_connect_timeout_millis: "5000"
tdp_logging_file: "data/logs/app.log"
tdp_logging_pattern_level: "%5p [user %X{userId}]"
tdp_logging_level_: "WARN"
tdp_logging_level_org_talend_dataprep: "INFO"
tdp_logging_level_org_talend_dataprep_api: "INFO"
tdp_logging_level_org_talend_dataprep_dataset: "INFO"
tdp_logging_level_org_talend_dataprep_preparation: "INFO"
tdp_logging_level_org_talend_dataprep_transformation: "INFO"
tdp_logging_level_org_talend_dataprep_fullrun: "INFO"
tdp_logging_level_org_talend_dataprep_api_dataquality: "INFO"
tdp_logging_level_org_talend_dataprep_configuration: "INFO"
tdp_logging_level_org_talend_dataquality_semantic: "INFO"
tdp_audit_log_enabled: "true"       # (only for non-hybrid mode, otherwise always "false")
tdp_talend_logging_audit_config: "config/audit.properties"
tdp_default_text_enclosure: '"'
tdp_default_text_escape: '"'
tdp_default_text_encoding: "UTF-8"
tdp_default_import_text_enclosure: '"'
tdp_default_import_text_escape: ""
tdp_dataset_service_provider: "legacy"
tdp_spring_cloud_stream_bindings_dqDictionary_group: " TDPdqDict1551087789845"
tdp_root_logger: "audit"
tdp_backend: "logback"
tdp_encoding: "UTF-8"
tdp_application_name: "Data Preparation"
tdp_instance_name: "DefaultInstance"
tdp_propagate_appender_exceptions: "all"
tdp_log_appender: "http,file"
tdp_appender_file_path: "data/logs/audit.log"
tdp_appender_file_maxsize: "52428800"
tdp_appender_file_maxbackup: "20"
tdp_appender_http_url: "http://localhost:8057/"
tdp_appender_http_async: "true"
tdp_spark_executor_memory: "3g"
tdp_spark_executor_instances: "10"
tdp_spark_executor_cores: "4"

# Hybrid mode
tdp_hybrid_mode:   "no"     # Can be "yes" or "no"
tdp_hybrid_region: "us"     # Can be one of "us", "eu" or "ap"

#####
# Communication with Minio / AWS S3 (defaults are set for using a local "minio" role)
#####
tdp_s3endpoint: "http://localhost:9000"
tdp_s3bucket:   "default-bucket"
tdp_s3region:   "us-east-1"
tdp_s3user:     "usr7xJ0agsFq"
tdp_s3pass:     "pwd9jYF26Van"
tdp_basepath:   ""
