---
# This script performs different parameters validation

######################################
# TSD-specific parameters validation
######################################

# verify that string parameters have a non empty value
- name: Show error that no value is specified for parameter {{ item.name }}
  when: item.value == ""
  fail:
    msg: "{{ app_name }} - no values is specified for parameter '{{ item.name }}'"
  with_items:
    - { name: 'tsd_kafka_host', value: "{{ tsd_kafka_host }}"}
    - { name: 'tsd_zookeeper_host', value: "{{ tsd_zookeeper_host }}"}
    - { name: 'tsd_mongo_host', value: "{{ tsd_mongo_host }}"}
    - { name: 'tsd_mongo_database', value: "{{ tsd_mongo_database }}"}
    - { name: 'tsd_mongo_username', value: "{{ tsd_mongo_username }}"}
    - { name: 'tsd_mongo_password', value: "{{ tsd_mongo_password }}"}
    - { name: 'tsd_security_scim_url', value: "{{ tsd_security_scim_url }}"}
    - { name: 'tsd_security_oidc_url', value: "{{ tsd_security_oidc_url }}"}
    - { name: 'tsd_oidc_id', value: "{{ tsd_oidc_id }}"}
    - { name: 'tsd_oidc_secret', value: "{{ tsd_oidc_secret }}"}

# verify flag yes/no have a correct value and are non empty
- name: Show error about wrong value for parameter {{ item.name }}
  when: item.value != "no" and item.value != "yes"
  fail:
    msg: "Wrong value for parameter {{ item.name }}, must be 'yes' or 'no'"
  with_items:
    - { name: 'tsd_hybrid_mode', value: "{{ tsd_hybrid_mode }}"}

# verify the port parameters (integer and correct port number)
- name: Show error about wrong value for parameter {{ item.name }}, not a number
  when: item.value|int == 0
  fail:
    msg: "{{ app_name }} - wrong value for parameter '{{ item.name }}', must be a valid number"
  with_items:
    - { name: 'tsd_kafka_port', value: "{{ tsd_kafka_port }}"}
    - { name: 'tsd_zookeeper_port', value: "{{ tsd_zookeeper_port }}"}
    - { name: 'tsd_mongo_port', value: "{{ tsd_mongo_port }}"}

- name: Show error about wrong value for parameter {{ item.name }}, must be a valid TCP/IP port number
  when: item.value|int > 65535 or item.value|int < 0
  fail:
    msg: "{{ app_name }} - wrong value for parameter '{{ item.name }}', must be a valid TCP/IP port number"
  with_items:
    - { name: 'tsd_kafka_port', value: "{{ tsd_kafka_port }}"}
    - { name: 'tsd_zookeeper_port', value: "{{ tsd_zookeeper_port }}"}
    - { name: 'tsd_mongo_port', value: "{{ tsd_mongo_port }}"}


# verify that the default password for mongo was changed
- name: Show error when example value of tsd_mongo_password was not modified
  debug:
    msg: Do not use value "duser" and set a stong password for tsd_mongo_password for production environment
  when: tsd_mongo_password == "duser"

- name: Get info about locally installed 'mongodb' role executable
  stat:
    path: "{{ install_prefix }}/mongodb/bin/mongorestore"
  register: inst_local_mongodb_stat

- name: Get info about externally installed mongodb
  when: not inst_local_mongodb_stat.stat.exists
  command: "which mongorestore"
  args:
    warn: no
  register: inst_ext_mongodb_stat
  changed_when: false
  ignore_errors: yes

- name: Show error about mongodb not available
  fail:
    msg: MongoDB is not available ! Check that mongodb role is in the list or mongodb should be installed and available in PATH
  when: not inst_local_mongodb_stat.stat.exists and inst_ext_mongodb_stat.rc != 0

- name: Show error about wrong hybrid region
  fail:
    msg: Wrong hybrid region ! Can be one of 'us', 'eu' or 'ap'
  when: tsd_hybrid_mode == 'yes' and not (tsd_hybrid_region == 'us' or tsd_hybrid_region == 'eu' or tsd_hybrid_region == 'ap')

- name: Check correct MinIO port (if MinIO is used)
  fail:
    msg: Incorrect value tsd_s3endpoint, port does not match with variable minio_port
  when: minio_port is defined and tsd_s3endpoint | urlsplit('port') != minio_port | int

  # Verify audit settings
- name: Show error about wrong audit setting
  fail:
    msg: Wrong value for tsd_audit_log_enabled - can be only 'true' or 'false'
  when: tsd_hybrid_mode == "no" and tsd_audit_log_enabled not in ["true", "false"]
